
@tailwind base;
@tailwind components;
@tailwind utilities;





/* In your global CSS (index.css or main.css)
html, body {
  width: 100%;
  overflow-x: hidden;
} */


@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out forwards;
}
